@media print {
    .controller {
        display: none;
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    @page {
        margin: .8cm 1.2cm;
    }

    body {
        margin: 0
    }
}

.controller {
    background-color: #eee;
    margin: 1.5em;
}

.par {
    font-family: 'Jetbrains Mono';
    font-size: 10pt;
}